In [5]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

!pip install psycopg2

db_config = {'user': 'practicum_student',         # user name
             'pwd': 's65BlTKV3faNIGhmvJVzOqhs', # password
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # connection port
             'db': 'data-analyst-youtube-data'}          # the name of the database

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'], db_config['pwd'], db_config['host'], db_config['port'], db_config['db'])

#database connection
engine = create_engine(connection_string)

# Creating an SQL query
query = ''' SELECT * 
            FROM trending_by_time
            '''


trending_by_time = pd.io.sql.read_sql(query, con = engine) 
trending_by_time.to_csv('trending_by_time.csv', index = False)

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [6]:
trending_by_time.head()

   record_id  region trending_date    category_title  videos_count
0          1  France    2017-11-14  Autos & Vehicles             8
1          2  France    2017-11-15  Autos & Vehicles             2
2          3  France    2017-11-16  Autos & Vehicles             6
3          4  France    2017-11-17  Autos & Vehicles             8
4          5  France    2017-11-18  Autos & Vehicles             4